
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
  --background: #12151C;
  --light-background: #191D26;
  --lightest-background: #1F1F26;

  --foreground: #c1bed0;
  --light-foreground: #ffffff;

  /* --highlight: rgba(163, 117, 255, 0.47); */
  --highlight: rgba(255, 75, 31, 0.12);

  --transition: all 0.5s ease-in-out;
}


input[type=radio] {
  display: none;
}

input[type=radio]:checked + .answer-label {
  background-color: var(--highlight) !important;
  color: var(--light-foreground);

  &:hover {
    background-color: var(--highlight) !important;
  }

  // do not grayscale image
  .answer-label-image {
    filter: none !important;
  }
}

/* if "none-selected" is checked, uncheck all other options */
#none-selected:checked {
  /* display: block; */

  ~ .answer-option {
    .answer-label {
      background: var(--background);

      &:hover {
        background: var(--lightest-background);
        color: var(--light-foreground);
        border: 3px solid var(--light-background);
      }

    }
  }
}

/* if not checked  and other is checked */
/* input[type=radio]:not(:checked) + .answer-label {
  background-color: red;
  color: var(--foreground);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  margin: 20px 10px;
  width:  100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .frontmatter-container {
    width: 100%;
    height: fit-content;
    vertical-align: middle;
    margin: 0 50px;


    .frontmatter {
      width: 100%;
      height: fit-content;
      max-height: 100vh;
      overflow-y: scroll;
      padding: 30px;
  
      .frontmatter-title {
        margin: 0 auto;
        width: fit-content;
      }
    }

    .answer-options-container {
      margin: 0 auto;
      padding: 30px;
      width: clamp(500px; 80%; 800px);
      border-radius: 10px;

      .answer-options-list {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;

        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        justify-items: center;
        align-items: center;

        .answer-option {
          
          width: 300px;
          aspect-ratio: 1/1;
          
          .answer-label {
            
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: var(--transition);
            border: 3px solid var(--light-background);
            background: var(--lightest-background);
            
            width: 100%;
            height: 100%;
            text-align: left;

            &:hover {
              /* background: var(--lightest-background);
              color: var(--light-foreground); */
              border: 3px solid var(--highlight);
            }
            /* margin: 0 auto; */

            /* center child elements */
            display: flex;

            .answer-label-text {
              width: fit-content;
              height: fit-content;
              margin: auto;
              padding: 1rem;
            }

            .answer-label-image {
              /* max-width: 100%;
              max-height: 100%; */
              
              /* min-width: 100%;
              min-height: 100%; */
              width: 100%;
              aspect-ratio: 1/1;

              /* maintain aspect ratio! */
              /* width: 100%;
              height: 100%; */
              /* padding: 1rem; */
              overflow: hidden;
              object-fit: cover;

              filter: grayscale(50%);
              transition: var(--transition);

              &:hover {
                filter: grayscale(0%);
              }
              
            }
          }

        }
        
      }
    }

    .submit-answer-container {
      width: 100%;
      /* background: red; */
      justify-content: center;
      align-items: center;
      margin: 50px 0;
      display: flex;

      #submit-answer-button {
        margin: 0 auto;
        width: 100px;
        height: 50px;
        border: 3px solid var(--light-background);
        border-radius: 10px;
        background-color: var(--background);
        color: var(--light-foreground);
        cursor: pointer;
        transition: var(--transition);
  
        &:hover {
          background-color: var(--lightest-background);
          color: var(--light-foreground);
        }
      }
    }

  }


}

